.examples{
    width: calc(100% - 300px);
    margin-left: auto;
    padding: 20px 0px;
}

.lollipop{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.4rem;
    box-shadow: 0px 0px 10px 2px #2BAE66;
    color: white;
    font-weight: 800;
}

.lp-filled{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.4rem;
    box-shadow: 0px 0px 10px 2px #2BAE66;
    background-color: #2BAE66;
    color: white;
    font-weight: 800;
}


.model-header{
    padding: 50px 320px;
    font-size: 1.8rem;
    
}
