/* .examples{
    width: calc(100% - 300px);
    margin-left: auto;
    padding: 20px 0px;
}

.lollipop{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.4rem;
    box-shadow: 0px 0px 10px 2px #2BAE66;
    color: white;
    font-weight: 800;
}

.lp-filled{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.4rem;
    box-shadow: 0px 0px 10px 2px #2BAE66;
    background-color: #2BAE66;
    color: white;
    font-weight: 800;
}


.model-header{
    padding: 50px 320px;
    font-size: 1.8rem;
    
} */

/* .card-container{
    width: calc(100% - 300px);
    margin-left: auto;
} */
.connect-btn {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: space-around;
  margin-left: 100px;
  /* margin-right: 256px; */
  width: 60%;
  padding-top: 10px;
  padding: 0px 180px;
  /* border: 1px solid white; */
}
.connect-txt{
    font-weight: lighter;
    font-size: large;
    padding-left: auto;
    /* border: 1px solid white; */

}
.eg-btn {
  display: flex;
  align-items: center;
  /* margin-left: auto; */
  font-weight: bold;
  border: none;
}
.metamask {
  object-fit: cover;
  height: 32px;
  width: 32px;
  margin-right: 10px;
  border-radius: 100%;
}

.eg-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 20px green;
}

.eg-btn:focus {
  border: none;
  outline: none;
}
