/* researchpaper.css */

.main-r {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
  }
  
  .icon {
    margin-bottom: 20px;
    width: 10%;
    height: 10%;
  }
  
 .main-r h3 {
    margin-bottom: 10px;
  }
  
 .main-r p {
    text-align: justify;
    line-height: 1.2;
    max-width: 80%;
  }
  
  .download {
    background-color: #f0f4f9;
    color: rgb(17, 16, 16);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .download:hover {
    background-color: #01070e;
    color: white;
  }
  